.startPromptOuter {
	margin: 10% auto;
}  

.startPromptMiddle {
	margin: 0 auto;
	width: 70%;
}  

.startPromptInner {
	align: center;
    font-size: 120px;
    text-align: center;
    border:1px solid black;
    box-shadow: 10px 10px 5px #888888;
    margin: 0 auto;
}

.startPromptInner:hover{
  background:#f8f8f8;
}

.startPromptMiddle a { 
	color: black; 
	text-decoration:none;
} 

.startPromptMiddle a:hover { 
	color: black; 
	text-decoration:none;
} 

.startPromptMiddle a:link {
	color: black;
    text-decoration: none;
}

.startPromptMiddle a:visited {
    text-decoration: none;
}

.startPromptMiddle a:active {
    text-decoration: none;
}

.startPromptMiddle a:focus {
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .startPromptInner {
      font-size: 50px;
      margin-top: 50%;
    }
}