.pageBody {
    background-image: url("background-desktop.jpg");
    /*position: fixed;*/
    width: 100%;
    height: 100%;
    background-size: 100% 120%;
}

.startPromptOuter {
	/*margin: 10% auto;*/
    position: relative;
    padding-top: 1%;
}  

.startPromptMiddle {
	margin: 0 auto;
	width: 70%;
}  

.startPromptInner {
	align: center;
    font-size: 120px;
    text-align: center;
    border:1px solid black;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5); /*transparent black*/
}

.startPromptInner:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.startPromptMiddle a { 
	color: white; 
	text-decoration:none;
} 

.startPromptMiddle a:hover { 
	color: white; 
	text-decoration:none;
} 

.startPromptMiddle a:link {
	color: white;
    text-decoration: none;
}

.startPromptMiddle a:visited {
    text-decoration: none;
}

.startPromptMiddle a:active {
    text-decoration: none;
}

.startPromptMiddle a:focus {
    text-decoration: none;
}

.intro {
    margin: auto;
    text-align: center;
    font-size: 20px;
    padding-top: 9%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .intro {
        padding-top: 25%;
        font-size: 19px;
        width: 95%;
    }

    .startPromptOuter {
        padding-top: 0%;
    }
    .startPromptInner {
        font-size: 50px;
        margin-top: 10%;
    }
    .pageBody {
        background-image: url(background-mobile.jpeg);
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        /*position: fixed;*/
    }
}