{% extends "navbar.html" %}
{% block content %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='startQuiz.css') }}">
	<script src="{{ url_for('static',filename='startQuiz.js') }}"></script>
    <div class="question">
    	{{question}}
    </div>

	<a class="btn" id="btn1" href="#btn1" onclick="option1()"> {{option1}} </a>
	<a class="btn" id="btn2" href="#btn2" onclick="option2()"> {{option1}} </a>
	<a class="btn" id="btn3" href="#btn3" onclick="option3()"> {{option1}} </a>
	<a class="btn" id="btn4" href="#btn4" onclick="option4()"> {{option1}} </a>

	<button id="submit" onclick="submit()">Submit</button>

{% endblock %}