{% extends "navbar.html" %}
{% block content %}
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='startQuiz.css') }}">
	<script src="{{ url_for('static',filename='startQuiz.js') }}"></script>
	<div class="pageBody">
    <div id="myProgress">
  		<div id="myBar"></div>
	</div>
    <div class="question">
    	{{question}}
    </div>
    <form id="question" action="{{ url_for('submitAnswer') }}" method="post">
    	<input type="hidden" name="answer" id="answer" value=0>
    	<input type="hidden" name="questionNumber" id="questionNumber" value="{{questionNumber}}">
    </form>

	<a class="btn" id="btn1" onclick="option1()"> {{options[0]}} </a>
	<a class="btn" id="btn2" onclick="option2()"> {{options[1]}} </a>
	<a class="btn" id="btn3" onclick="option3()"> {{options[2]}} </a>
	<a class="btn" id="btn4" onclick="option4()"> {{options[3]}} </a>
	</div>

{% endblock %}